<footer class="site-footer">
  <span>
    &copy; {{ site.year }} {{ site.title }}.
    Powered by <a href="https://edgepress.amb1.io" target="_blank" rel="noopener">Edgepress</a>.
  </span>
</footer>
